*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(155deg,black,white);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    border-style: solid;
    border-width: thick;
    border-color:#f6d365;
}

header{
    font-size: 1.5rem;
    border-style:solid;
    border-width:medium;
    border-color:#f6d365;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: #f6d365;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #f6d365;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo{
    margin:0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items:center;
    transition: all 0.5s ease;
}

.todo li{
    flex: 1;
}

.trash-btn, .complete-btn{
    background: #fda085;
    color:white;
    border:none;
    padding:1rem;
    cursor:pointer;
    font-size: 1rem;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.complete-btn{background: green}

.todo-item{
    padding: 0rem 0.5rem;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: #fda085;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background: #fda085;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events:none;
    transition: all 0.3s ease;
}

.select:hover::after{
    background: white;
    color: #fda085;
}
